name: Build and Test
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      FC: gfortran-9
      CC: gcc-9

    steps:

    - name: install-mpi
      run: |
        sudo apt-get install libmpich-dev doxygen

    - name: checkout-bacio
      uses: actions/checkout@v2
      with:
        repository: NOAA-EMC/NCEPLIBS-bacio
        path: bacio
        ref: develop

    - name: build-bacio
      run: |
        cd bacio
        mkdir build
        cd build
        cmake .. -DCMAKE_INSTALL_PREFIX=~/bacio
        make -j2
        make install

    - name: checkout-w3emc
      uses: actions/checkout@v2
      with:
        repository: NOAA-EMC/NCEPLIBS-w3emc
        path: w3emc
        ref: develop

    - name: build-w3emc
      run: |
        cd w3emc
        mkdir build
        cd build
        cmake .. -DCMAKE_INSTALL_PREFIX=~/w3emc
        make -j2
        make install

    - name: checkout
      uses: actions/checkout@v2
      with: 
        path: nemsio
        submodules: true

    - name: build
      run: |
        cd nemsio
        mkdir build 
        cd build
        cmake .. -DENABLE_DOCS=ON -DENABLE_TESTS=ON -DCMAKE_PREFIX_PATH="~/"
        make -j2
    
    - name: test
      run: |
        cd $GITHUB_WORKSPACE/nemsio/build
        ctest --output-on-failure
